icons = "awesome"

[theme] 
name = "modern"
[theme.overrides] 
idle_bg = "#2c2c2c"

[[block]]
block = "focused_window"
max_width = 20

[[block]]
block = "custom"
interval = 5
command = "~/.config/scripts/keyboard-switch"

[[block]]
block = "toggle"
text = "\uF025"
command_on = "~/.config/scripts/headset-switch on"
command_off = "~/.config/scripts/headset-switch off"
command_state = "~/.config/scripts/headset-switch"

[[block]]
block = "sound"
on_click = "pavucontrol"

[[block]]
block = "battery"
interval = 20
show = "percentage"

[[block]]
block = "time"
interval = 5
format = " %H:%M \uF073 %d.%m.%y"

[[block]]
block = "custom"
command = "printf '\uF011'"
on_click = "zexit"
