theme = "modern"
icons = "awesome"

[[block]]
block = "focused_window"
max_width = 20

[[block]]
block = "toggle"
text = "\uF025"
command_on = "~/.config/scripts/headset-switch on"
command_off = "~/.config/scripts/headset-switch off"
command_state = "~/.config/scripts/headset-switch"

[[block]]
block = "sound"

[[block]]
block = "battery"
interval = 20
show = "percentage"

[[block]]
block = "time"
interval = 5
format = " %H:%M / %d.%m.%y"

[[block]]
block = "custom"
command = "printf '\uF011'"
on_click = "zexit"
